<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>SPOH 2022</title>
	<!-- Bootstrap CSS -->
	<link href="/SPOH_2022/Content/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Custom CSS -->
	<link href="/SPOH_2022/Content/spoh-custom.css" rel="stylesheet">

</head>

<body class="landingPage">

	<main>
		<div class="jumbotron">
			<a href="home.html"><img src="/SPOH_2022/images/logo_spoh.png" class="img-fluid pt-5 ps-5"></a>
      <img src="/SPOH_2022/images/title_spoh.png" class="img-fluid date float-lg-end pe-5">
		</div>

	</main> <!-- /.end of container -->

	<script src="/SPOH_2022/Scripts/bootstrap.bundle.min.js"></script>
</body>

</html>